{% extends 'base.html' %} {% load static %} {% block header%}
<div>
    <div class="jumbotron">
        <h1 class="display-4">Basic implementation</h1>
        <p class="lead">
            This is a simple hero unit, a simple jumbotron-style component for
            calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
            It uses utility classes for typography and spacing to space content
            out within the larger container.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" id="test"
                >Learn more</a
            >
        </p>
    </div>
</div>
{% endblock header%} {% block content %}
<!-- Section-->
<section>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        quibusdam, tempora cum distinctio commodi minus ab voluptatem dicta
        totam sit, maiores, laborum at aut in temporibus deserunt. Nostrum,
        laborum temporibus! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Doloremque asperiores natus itaque, eius necessitatibus autem
        nostrum provident excepturi sint aut vitae blanditiis iste inventore
        sequi officiis vel praesentium amet. Iste?
    </div>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        natus labore, fugit praesentium accusantium cum temporibus esse ipsam
        laboriosam? Est tempore deleniti dignissimos soluta a, blanditiis non.
    </div>
</section>
{% endblock content %}
<!-- Footer-->
